{% extends "base.html" %}


{% block content %}

<div class="container" style="max-width: 1100px;">
    <div class="row">
        <!-- form to create profile with skill sets -->
        <form method="POST" enctype="multipart/form-data" action="/post/new/?range=1" id="form-test"
            class="col-lg-12 col-md-12">
            <div class="h4">
                <span class="home-title">Create a Profile</span></div>
            {% csrf_token %}

            <div id="forms" class="mb-4">
                <!-- profile form -->
                {{profile_form.as_table}}
                <div class="mb-4"></div>
                <!-- multiple skill set forms -->
                {% for form in skill_set_forms %}
                {{form}}

                {%endfor%}
            </div>
            <div class="d-flex justify-content-between align-items-center flex-row-reverse skill-btn-div">
                <!-- button to add more skills -->
                <div class="mb-4"><span id="add-another">Add More Skills</span></div>

                <input type="submit" class="submit-profile" value="Submit Form" />
            </div>
        </form>
    </div>
</div>




<script type="text/javascript">
    // extra field count if more skills are added
    let form_count = Number($("[name=extra_field_count]").val());

    $("#add-another").click(function () {

        form_count++;
        let elem1 = $('<label >Skill name:</label>');
        let element = $(
            '<input type="text"  maxlength="100" class="form-control" required="" placeholder="Php, Python, etc">'
            );
        element.attr('name', form_count + '-skill_name');
        let elem2 = $('<label >Proficiency Level:</label>');
        let element2 = $(
            '<input type="number"  class="form-control" required="" min="1" max="100" placeholder="1 to 100">'
            );
        element2.attr('name', form_count + '-proficiency_level');
    
        $("#forms").append(elem1);
        $("#forms").append(element);
        $("#forms").append(elem2);
        $("#forms").append(element2);
        // build element and append it to our forms container

        $("[name=extra_field_count]").val(form_count);
        // increment form count so that our view knows to populate that many fields for validation
        count = form_count + 1
        // increasing count on clicking add-another button for skills
        
        $('#form-test').attr('action', '/post/new/?range=' + count);

    })
</script>
{% endblock content %}